name: Create NPM package
on:
  release:
    types: [ created ]
  workflow_dispatch:
env:
  CI: true
jobs:
  build:
    name: Build NPM package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install yarn
        run: corepack enable || corepack use
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build Package
        run: pnpm build:lib
      - name: Prepare package.json
        run: node packages/e30studio/scripts/prepare-package.cjs
      - name: Publish package
        run: |
          cd packages/e30studio/dist
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

